// SpeakJ.rc --- Japanese voice synthesis by katahiromz
// This file is public domain software (PDS).
#include <windows.h>

a WAVE "sounds\\a.wav"
att WAVE "sounds\\att.wav"
ba WAVE "sounds\\ba.wav"
batt WAVE "sounds\\batt.wav"
be WAVE "sounds\\be.wav"
bett WAVE "sounds\\bett.wav"
bi WAVE "sounds\\bi.wav"
bitt WAVE "sounds\\bitt.wav"
bo WAVE "sounds\\bo.wav"
bott WAVE "sounds\\bott.wav"
bu WAVE "sounds\\bu.wav"
butt WAVE "sounds\\butt.wav"
bya WAVE "sounds\\bya.wav"
byatt WAVE "sounds\\byatt.wav"
byo WAVE "sounds\\byo.wav"
byott WAVE "sounds\\byott.wav"
byu WAVE "sounds\\byu.wav"
byutt WAVE "sounds\\byutt.wav"
cha WAVE "sounds\\cha.wav"
chatt WAVE "sounds\\chatt.wav"
che WAVE "sounds\\che.wav"
chett WAVE "sounds\\chett.wav"
chi WAVE "sounds\\chi.wav"
chitt WAVE "sounds\\chitt.wav"
cho WAVE "sounds\\cho.wav"
chott WAVE "sounds\\chott.wav"
chu WAVE "sounds\\chu.wav"
chutt WAVE "sounds\\chutt.wav"
comma WAVE "sounds\\comma.wav"
da WAVE "sounds\\da.wav"
datt WAVE "sounds\\datt.wav"
de WAVE "sounds\\de.wav"
dett WAVE "sounds\\dett.wav"
di WAVE "sounds\\di.wav"
ditt WAVE "sounds\\ditt.wav"
do WAVE "sounds\\do.wav"
dott WAVE "sounds\\dott.wav"
du WAVE "sounds\\du.wav"
dutt WAVE "sounds\\dutt.wav"
dya WAVE "sounds\\dya.wav"
dyatt WAVE "sounds\\dyatt.wav"
dyo WAVE "sounds\\dyo.wav"
dyott WAVE "sounds\\dyott.wav"
dyu WAVE "sounds\\dyu.wav"
dyutt WAVE "sounds\\dyutt.wav"
e WAVE "sounds\\e.wav"
ett WAVE "sounds\\ett.wav"
fa WAVE "sounds\\fa.wav"
fatt WAVE "sounds\\fatt.wav"
fe WAVE "sounds\\fe.wav"
fett WAVE "sounds\\fett.wav"
fi WAVE "sounds\\fi.wav"
fitt WAVE "sounds\\fitt.wav"
fo WAVE "sounds\\fo.wav"
fott WAVE "sounds\\fott.wav"
ga WAVE "sounds\\ga.wav"
gatt WAVE "sounds\\gatt.wav"
ge WAVE "sounds\\ge.wav"
gett WAVE "sounds\\gett.wav"
gi WAVE "sounds\\gi.wav"
gitt WAVE "sounds\\gitt.wav"
go WAVE "sounds\\go.wav"
gott WAVE "sounds\\gott.wav"
gu WAVE "sounds\\gu.wav"
gutt WAVE "sounds\\gutt.wav"
gya WAVE "sounds\\gya.wav"
gyatt WAVE "sounds\\gyatt.wav"
gyo WAVE "sounds\\gyo.wav"
gyott WAVE "sounds\\gyott.wav"
gyu WAVE "sounds\\gyu.wav"
gyutt WAVE "sounds\\gyutt.wav"
ha WAVE "sounds\\ha.wav"
hatt WAVE "sounds\\hatt.wav"
he WAVE "sounds\\he.wav"
hett WAVE "sounds\\hett.wav"
hi WAVE "sounds\\hi.wav"
hitt WAVE "sounds\\hitt.wav"
ho WAVE "sounds\\ho.wav"
hott WAVE "sounds\\hott.wav"
hu WAVE "sounds\\hu.wav"
hutt WAVE "sounds\\hutt.wav"
hya WAVE "sounds\\hya.wav"
hyatt WAVE "sounds\\hyatt.wav"
hyo WAVE "sounds\\hyo.wav"
hyott WAVE "sounds\\hyott.wav"
hyu WAVE "sounds\\hyu.wav"
hyutt WAVE "sounds\\hyutt.wav"
i WAVE "sounds\\i.wav"
itt WAVE "sounds\\itt.wav"
ja WAVE "sounds\\ja.wav"
jatt WAVE "sounds\\jatt.wav"
je WAVE "sounds\\je.wav"
jett WAVE "sounds\\jett.wav"
ji WAVE "sounds\\ji.wav"
jitt WAVE "sounds\\jitt.wav"
jo WAVE "sounds\\jo.wav"
jott WAVE "sounds\\jott.wav"
ju WAVE "sounds\\ju.wav"
jutt WAVE "sounds\\jutt.wav"
ka WAVE "sounds\\ka.wav"
katt WAVE "sounds\\katt.wav"
ke WAVE "sounds\\ke.wav"
kett WAVE "sounds\\kett.wav"
ki WAVE "sounds\\ki.wav"
kitt WAVE "sounds\\kitt.wav"
ko WAVE "sounds\\ko.wav"
kott WAVE "sounds\\kott.wav"
ku WAVE "sounds\\ku.wav"
kutt WAVE "sounds\\kutt.wav"
kya WAVE "sounds\\kya.wav"
kyatt WAVE "sounds\\kyatt.wav"
kyo WAVE "sounds\\kyo.wav"
kyott WAVE "sounds\\kyott.wav"
kyu WAVE "sounds\\kyu.wav"
kyutt WAVE "sounds\\kyutt.wav"
ma WAVE "sounds\\ma.wav"
matt WAVE "sounds\\matt.wav"
me WAVE "sounds\\me.wav"
mett WAVE "sounds\\mett.wav"
mi WAVE "sounds\\mi.wav"
mitt WAVE "sounds\\mitt.wav"
mo WAVE "sounds\\mo.wav"
mott WAVE "sounds\\mott.wav"
mu WAVE "sounds\\mu.wav"
mutt WAVE "sounds\\mutt.wav"
mya WAVE "sounds\\mya.wav"
myatt WAVE "sounds\\myatt.wav"
myo WAVE "sounds\\myo.wav"
myott WAVE "sounds\\myott.wav"
myu WAVE "sounds\\myu.wav"
myutt WAVE "sounds\\myutt.wav"
n WAVE "sounds\\n.wav"
na WAVE "sounds\\na.wav"
natt WAVE "sounds\\natt.wav"
ne WAVE "sounds\\ne.wav"
nett WAVE "sounds\\nett.wav"
ni WAVE "sounds\\ni.wav"
nitt WAVE "sounds\\nitt.wav"
no WAVE "sounds\\no.wav"
nott WAVE "sounds\\nott.wav"
ntt WAVE "sounds\\ntt.wav"
nu WAVE "sounds\\nu.wav"
nutt WAVE "sounds\\nutt.wav"
nya WAVE "sounds\\nya.wav"
nyatt WAVE "sounds\\nyatt.wav"
nyo WAVE "sounds\\nyo.wav"
nyott WAVE "sounds\\nyott.wav"
nyu WAVE "sounds\\nyu.wav"
nyutt WAVE "sounds\\nyutt.wav"
o WAVE "sounds\\o.wav"
ott WAVE "sounds\\ott.wav"
pa WAVE "sounds\\pa.wav"
patt WAVE "sounds\\patt.wav"
pe WAVE "sounds\\pe.wav"
pett WAVE "sounds\\pett.wav"
pi WAVE "sounds\\pi.wav"
pitt WAVE "sounds\\pitt.wav"
po WAVE "sounds\\po.wav"
pott WAVE "sounds\\pott.wav"
pu WAVE "sounds\\pu.wav"
putt WAVE "sounds\\putt.wav"
pya WAVE "sounds\\pya.wav"
pyatt WAVE "sounds\\pyatt.wav"
pyo WAVE "sounds\\pyo.wav"
pyott WAVE "sounds\\pyott.wav"
pyu WAVE "sounds\\pyu.wav"
pyutt WAVE "sounds\\pyutt.wav"
ra WAVE "sounds\\ra.wav"
ratt WAVE "sounds\\ratt.wav"
re WAVE "sounds\\re.wav"
rett WAVE "sounds\\rett.wav"
ri WAVE "sounds\\ri.wav"
ritt WAVE "sounds\\ritt.wav"
ro WAVE "sounds\\ro.wav"
rott WAVE "sounds\\rott.wav"
ru WAVE "sounds\\ru.wav"
rutt WAVE "sounds\\rutt.wav"
rya WAVE "sounds\\rya.wav"
ryatt WAVE "sounds\\ryatt.wav"
ryo WAVE "sounds\\ryo.wav"
ryott WAVE "sounds\\ryott.wav"
ryu WAVE "sounds\\ryu.wav"
ryutt WAVE "sounds\\ryutt.wav"
sa WAVE "sounds\\sa.wav"
satt WAVE "sounds\\satt.wav"
se WAVE "sounds\\se.wav"
sett WAVE "sounds\\sett.wav"
sha WAVE "sounds\\sha.wav"
shatt WAVE "sounds\\shatt.wav"
shi WAVE "sounds\\shi.wav"
shitt WAVE "sounds\\shitt.wav"
sho WAVE "sounds\\sho.wav"
shott WAVE "sounds\\shott.wav"
shu WAVE "sounds\\shu.wav"
shutt WAVE "sounds\\shutt.wav"
so WAVE "sounds\\so.wav"
sott WAVE "sounds\\sott.wav"
su WAVE "sounds\\su.wav"
sutt WAVE "sounds\\sutt.wav"
ta WAVE "sounds\\ta.wav"
tatt WAVE "sounds\\tatt.wav"
te WAVE "sounds\\te.wav"
tett WAVE "sounds\\tett.wav"
tho WAVE "sounds\\tho.wav"
thott WAVE "sounds\\thott.wav"
ti WAVE "sounds\\ti.wav"
titt WAVE "sounds\\titt.wav"
to WAVE "sounds\\to.wav"
tott WAVE "sounds\\tott.wav"
tsu WAVE "sounds\\tsu.wav"
tsutt WAVE "sounds\\tsutt.wav"
twi WAVE "sounds\\twi.wav"
twitt WAVE "sounds\\twitt.wav"
u WAVE "sounds\\u.wav"
utt WAVE "sounds\\utt.wav"
wa WAVE "sounds\\wa.wav"
watt WAVE "sounds\\watt.wav"
wi WAVE "sounds\\wi.wav"
witt WAVE "sounds\\witt.wav"
wo WAVE "sounds\\wo.wav"
wott WAVE "sounds\\wott.wav"
ya WAVE "sounds\\ya.wav"
yatt WAVE "sounds\\yatt.wav"
yo WAVE "sounds\\yo.wav"
yott WAVE "sounds\\yott.wav"
yu WAVE "sounds\\yu.wav"
yutt WAVE "sounds\\yutt.wav"
za WAVE "sounds\\za.wav"
zatt WAVE "sounds\\zatt.wav"
ze WAVE "sounds\\ze.wav"
zett WAVE "sounds\\zett.wav"
zo WAVE "sounds\\zo.wav"
zott WAVE "sounds\\zott.wav"
zu WAVE "sounds\\zu.wav"
zutt WAVE "sounds\\zutt.wav"
